container_commands:
  01_install_composer:
    command: |
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/local/bin/composer
    leader_only: true

  02_composer_install:
    command: |
      cd /var/app/staging
      composer install --no-dev --optimize-autoloader
    leader_only: true

  03_npm_install:
    command: |
      cd /var/app/staging
      if [ -f package.json ]; then
        npm install --force
        npm run build
        echo "npm done successfullu"
      else
        echo "npm not build"
      fi

  04_permissions:
    command: |
      chown -R webapp:webapp /var/app/staging
      chmod -R 755 /var/app/staging
      chmod -R 775 /var/app/staging/storage /var/app/staging/bootstrap/cache
      cp .env.example .env

  05_cache_config:
    command: |
      cd /var/app/staging
      php artisan config:cache
      php artisan optimize:clear

  
