container_commands:
  01_install_composer:
    command: |
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/local/bin/composer
    leader_only: true

  02_composer_install:
    command: |
      cd /var/app/current
      composer install --no-dev --optimize-autoloader
    leader_only: true

  03_npm_install:
    command: |
      cd /var/app/current
      npm install 2>&1 | tee /var/log/npm_install.log
      npm run build 2>&1 | tee /var/log/npm_build.log
      chown -R webapp:webapp /var/app/current
      echo "build runned successfully"

  04_permissions:
    command: |
      chown -R webapp:webapp /var/app/current
      chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
      ls -la

  05_cache_config:
    command: |
      cd /var/app/current
      php artisan config:clear
      php artisan cache:clear
      php artisan view:clear
